@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Mandali);
$text-font  : 'WorkSans-Regular',sans-serif;
$heading-font : 'WorkSans-SemiBold',sans-serif;
.very-small-text{
    font-size: 9px;
    font-family: $text-font;
}
.small-text{
    font-size: 10px;
    font-family: $text-font;
}

.normal-text {
    font-size: 12px;
    font-family: $text-font;
}

.big-text {
    font-size: 15px;
	font-family: $heading-font;
}