@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Mandali);
$text-font  : 'WorkSans-Regular',sans-serif;
$heading-font : 'WorkSans-SemiBold',sans-serif;

$ms-base: 1.5em;
$ms-ratio: $golden;


.very-small-text{
    font-size: ms(-2);
    font-family: $text-font;
}
.small-text{
    // font-size: 10px;
     font-size: ms(-1);
    font-family: $text-font;
}

.normal-text {
    // font-size: 12px;
    font-size: ms(-1);
    font-family: $text-font;
}

.big-text {
    // font-size: 15px;
     font-size: ms(0);
	font-family: $heading-font;
}
html {
    font-size: 16px;
    @include media( '>phone', '<=desktop' ) {
        font-size: 14px;
    }
    @include media ( '<=phone' ) {
        font-size: 16px;
    }
}