* {
    box-sizing:border-box;
}
body{
	background-image: -webkit-radial-gradient(#cde6f9 70%, #81a8cb 90%);

}
%vertical-align-container{
	position: relative;
	top: 50%;
    transform: translateY(-50%);
}
%big-btn{
	cursor: pointer;
	line-height: 3;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 4px;
}
.main-container{
	@extend %vertical-align-container;
	position: relative;
	overflow: hidden;
	background-color: $white;
	width: 70%;
	height: 70%;
	margin:auto;

	.image-container{
		float: left;
		width: 40%;
		height: 100%;
		img{
			@extend %vertical-align-container;
			width: 100%;
			padding: 50px;
		}
	}
	.text-container{
		@extend %vertical-align-container;
		position: relative;
		overflow: hidden;
		float:right;
		width: 60%;		
		padding-right: 10%;
		line-height: 1.5;
		.text-heading{
			@extend .big-text;			
			letter-spacing: 2px;
			text-transform: uppercase;
		}
		.text-content{
			@extend .normal-text;
			color:$greyish-black;
			padding-right: 10%;
		}
		.email-heading{
			@extend .small-text;
			padding-top: 20px;
			color:$brownish-grey;
		}
		.email-fotter{
			@extend .very-small-text;
			padding-top: 40px;
			color:$greyish;
		}
		.email-validation{
			@extend .normal-text;
			line-height: 0;
			color: red;
			// border: 1px solid;
		}

	}
	.textbox-btn-container{

		.email-textbox{
			float:left;
			width: 60%;
			.email-text{
				@extend .normal-text;
				border: 1px solid $greyish;
				margin:5px 0;
				line-height: 2;
				width: 90%;	
				outline: none;	
				color:$brownish-grey;			
			}
			.error {
		      	border:2px solid red;
		   }
		}
		.btn-container{
			float: right;
			width: 40%;
			a{
				@extend .normal-text;
				text-decoration: none;
				color:$black;				
			}
			.subscribe-btn{
				@extend %big-btn;
				width: 175px;
				font-family: $heading-font;
				font-weight: 700;
				border: 1px solid $sun-yellow;
				background-color: $sun-yellow;				
			}			
		}
	}
}
