* {
    box-sizing:border-box;
}

body{
	background-image: -webkit-radial-gradient(#cde6f9 70%, #81a8cb 90%);

}

%vertical-align-container{
	position: relative;
	top: 50%;
    transform: translateY(-50%);
}

.main-container{
	@extend %vertical-align-container;
	position: relative;
	overflow: hidden;
	background-color: $white;
	width: 70%;
	height: 70%;
	@include media(">=500px", "<700px") {
		width: 80%;
	}
	@include media("<500px") {
		width: 80%;
		height: 80%;
	}
	margin:auto;
	@include media(">500px") {
		.image-container{
			float: left;
			width: 40%;
			height: 100%;
			img{
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				width: 100%;
				padding: 30px;
			}
		}
	}	
	@include media("<500px") {
		.image-container{
			margin: auto;
			margin-top:20px;
			width: 30%;
			// border: 1px solid;
			img{
				position: relative;
				width: 100%;
				margin: auto;
			}
		}
	}	
	.text-container{
		line-height: 1.5;
		@include media(">500px") {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
			position: relative;
			overflow: hidden;
			float:right;
			width: 60%;		
			padding-right: 5%;
		}		
		@include media("<500px") {
			text-align: center;
		}
		@include media(">=500px", "<700px") {			
			padding-right: 10px;
		}
		
		.text-heading{
			@extend .big-text;			
			letter-spacing: 2px;
			text-transform: uppercase;
		}
		.text-content{
			@extend .normal-text;
			color:$greyish-black;
			// padding-right: 10%;
			@include media(">500px") {
				padding-right: ms( 2 );
			}
		}
		.email-heading{
			@extend .small-text;
			// padding-top: 20px;
			padding-top: ms( 0 );
			color:$brownish-grey;
			@include media("<500px") {
				text-align: left;
				padding-top: 10px;
				padding-left: 10px;
			}
		}
		.email-fotter{
			// border: 1px solid;
			@extend .very-small-text;
			padding-top: 40px;
			color:$greyish;
			@include media("<500px") {
				text-align: left;
				// padding-top: 0;
				padding-left: 10px;
			}
		}
		.email-validation{
			@extend .normal-text;
			line-height: 0;
			color: red;
			// border: 1px solid;
		}		
	}
	
	.textbox-btn-container{

		.email-textbox{
			float:left;
			width: 60%;
			@include media(">=500px", "<750px") {
				width: 55%;				
			}
			// margin-right: 10px;
			.email-text{
				// @extend .normal-text;
				border: 1px solid $greyish;
				margin:5px 0;
				line-height: 2;
				width: 90%;	
				outline: none;	
				color:$brownish-grey;			
			}
			.error {
		      	border:2px solid red;
		   }
		}
		.subscribe-btn {
		    @extend .e-btn-outline;
		    float: right;
		    width: 40%;
		    @include media(">=500px", "<750px") {
				width: 45%;				
			}
			@include media( "<550px") {
				letter-spacing: 1px;
				padding: 7px;
			}
			@include media( "<500px") {
				width: 35%;
				margin-right: 5%;
			}
		    // margin-right: 10px;
		  }
		/*.btn-container{
			float: right;
			width: 40%;
			a{
				
				text-decoration: none;
				color:$black;	
				outline:none;

			}
			.subscribe-btn{
				@extend %big-btn;
				width: 150px;
				font-family: $heading-font;
				font-weight: 700;
				border: 1px solid $sun-yellow;
				background-color: $sun-yellow-light;
				transition-property: background-color;
				transition-duration: .2s;
				transition-timing-function: linear;
				&:hover{
					background-color:$sun-yellow;
				}				
			}			
		}*/
		
	}
}



