@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/css?family=Mandali);
.very-small-text, .main-container .text-container .email-fotter {
  font-size: 9px;
  font-family: "WorkSans-Regular", sans-serif;
}

.small-text, .main-container .text-container .email-heading {
  font-size: 10px;
  font-family: "WorkSans-Regular", sans-serif;
}

.normal-text, .main-container .text-container .text-content, .main-container .text-container .email-validation, .main-container .textbox-btn-container .email-textbox .email-text, .main-container .textbox-btn-container .btn-container a {
  font-size: 12px;
  font-family: "WorkSans-Regular", sans-serif;
}

.big-text, .main-container .text-container .text-heading {
  font-size: 15px;
  font-family: "WorkSans-SemiBold", sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-image: -webkit-radial-gradient(#cde6f9 70%, #81a8cb 90%);
}

.main-container, .main-container .image-container img, .main-container .text-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.main-container .textbox-btn-container .btn-container .subscribe-btn {
  cursor: pointer;
  line-height: 3;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}

.main-container {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 70%;
  height: 70%;
  margin: auto;
}
.main-container .image-container {
  float: left;
  width: 40%;
  height: 100%;
}
.main-container .image-container img {
  width: 100%;
  padding: 50px;
}
.main-container .text-container {
  position: relative;
  overflow: hidden;
  float: right;
  width: 60%;
  padding-right: 10%;
  line-height: 1.5;
}
.main-container .text-container .text-heading {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.main-container .text-container .text-content {
  color: #525151;
  padding-right: 10%;
}
.main-container .text-container .email-heading {
  padding-top: 20px;
  color: #636262;
}
.main-container .text-container .email-fotter {
  padding-top: 40px;
  color: #a9a1a1;
}
.main-container .text-container .email-validation {
  line-height: 0;
  color: red;
}
.main-container .textbox-btn-container .email-textbox {
  float: left;
  width: 60%;
}
.main-container .textbox-btn-container .email-textbox .email-text {
  border: 1px solid #a9a1a1;
  margin: 5px 0;
  line-height: 2;
  width: 90%;
  outline: none;
  color: #636262;
}
.main-container .textbox-btn-container .email-textbox .error {
  border: 2px solid red;
}
.main-container .textbox-btn-container .btn-container {
  float: right;
  width: 40%;
}
.main-container .textbox-btn-container .btn-container a {
  text-decoration: none;
  color: #232323;
}
.main-container .textbox-btn-container .btn-container .subscribe-btn {
  width: 100%;
  font-family: "WorkSans-SemiBold", sans-serif;
  font-weight: 700;
  border: 1px solid #ffc52f;
  background-color: #ffc52f;
}

/*# sourceMappingURL=compiled.css.map */
